html,
body,
.App,
#root {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.App {
  background-image: linear-gradient(-315deg, #7afcff 40%, #41b6d7 100%);
  padding: 32px;
  letter-spacing: 2px;
}

header {
  border-bottom: 1px solid black;
  margin-bottom: 2%;
  padding-left: 2%;
}

.input {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  width: 200px;
  padding: 15px 22px;
  margin: 10px 5px;
  box-sizing: border-box;
  border-radius: 4px;
}

label {
  text-align: left;
  width: 200px;
}

button {
  margin: 5px;
  width: 45%;
  border-radius: 4px;
}

.card {
  width: 25%;
  border-bottom: 1px solid black;
  text-align: center;
}

.completed {
  color: green;
  text-decoration: line-through;
}
